@{
    ViewData["Title"] = "Quản Lý Khóa Học";
}

@model IEnumerable<DoAn4_ClassOnline.Models.KhoaHoc>

<div class="container">
    <div class="text-center mb-5">
        <h2 class="fw-bold mb-2">Quản Lý Khóa Học</h2>

        <!-- Dropdown chọn học kỳ -->
        <div class="d-flex align-items-center position-relative">

            <div class="mx-auto">
                <select id="selectHocKy_QuanLy" class="form-select w-auto rounded-pill shadow-sm fw-semibold">
                    <option value="0">-- Tất cả khóa học --</option>

                    @foreach (var hk in ViewBag.HocKyList)
                    {
                        <option value="@hk.HocKyId">
                            @hk.Ten
                        </option>
                    }
                </select>
            </div>

            <!-- Nút thêm -->
            <a class="btn btn-success btn-sm text-light position-absolute end-0 p-2 fw-bold"
               onclick="openModal('themKhoaHocModal')">
                <i class="bi bi-plus-circle me-1"></i> Khóa học mới
            </a>
        </div>
       
        <!-- Danh sách khóa học -->
        <div class="row g-4 mt-2" id="khoaHocContainer_QuanLy">

            @foreach (var item in Model)
            {
                <div class="col-12 col-md-3 khoaHocItem"
                     data-hockyid="@item.HocKyId"
                     data-namhoc="@item.HocKy.NamHoc">

                    <div class="card shadow border-0 rounded-4 overflow-hidden h-100">

                        <a asp-controller="QuanLyKhoaHoc"
                           asp-action="QuanLyKhoaHoc" asp-route-id="@item.KhoaHocId">
                            <div class="card-header p-0 border-0 bg-white image-cuser">
                                <img src="@item.HinhAnh"
                                     class="w-100"
                                     alt="@item.TenKhoaHoc"
                                     style="height: 130px; object-fit: cover;">
                            </div>
                        </a>

                        <div class="card-body text-start">
                            <h6 class="fw-bold mb-2 text-truncate" title="@item.TenKhoaHoc">
                                @item.TenKhoaHoc
                            </h6>

                            <span class="text-truncate">Giảng viên: @item.GiaoVien.FullName</span><br />
                            <span class="text-truncate">@item.Khoa.TenKhoa</span><br />
                            <span>@item.HocKy.TenHocKy / @item.HocKy.NamHoc</span>

                            <div class="d-flex justify-content-between text-secondary small mb-3 mt-2">
                                <span>@item.ThamGiaKhoaHocs.Count() SV đã tham gia</span>
                                @if(item.TrangThaiKhoaHoc == "DangKhoa")
                                {
                                    <span class="text-danger">Đang bị khóa</span>
                                }
                                else
                                {
                                   <span>Đang hoạt động</span>
                                }
                                
                            </div>

                            <div class="text-start">
                                <a class="btn btn-light w-100 border rounded-3"
                                   asp-controller="QuanLyKhoaHoc"
                                   asp-action="QuanLyKhoaHoc" asp-route-id="@item.KhoaHocId">
                                    Quản lý khóa học
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
            }

        </div>

        <!-- Không có kết quả -->
        <p id="noResult" class="text-center text-danger fw-bold mt-3" style="display:none;">
            Không tìm thấy khóa học nào.
        </p>

    </div>
</div>
<!-- Modal Thêm Khóa Học -->
<div class="modal fade" id="themKhoaHocModal" tabindex="-1" aria-labelledby="themKhoaHocModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content border-0 shadow-lg rounded-4">

            <!-- Header -->
            <div class="modal-header rounded-top-4">
                <h5 class="modal-title fw-bold" id="themKhoaHocModalLabel">
                    <i class="bi bi-journal-plus me-2"></i>Thêm khóa học mới
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Đóng" onclick="resetForm_ThemKhoaHoc()"></button>
            </div>

            <!-- Body -->
            <div class="modal-body px-4 py-3 mb-2">
                <form id="formThemKhoaHoc">
                    <div class="row g-3">

                        <!-- Tên khóa học -->
                        <div class="col-md-6">
                            <label for="tenKhoaHoc_Insert" class="form-label fw-semibold">Tên khóa học</label>
                            <input type="text" id="tenKhoaHoc_Insert" class="form-control" placeholder="Nhập tên khóa học" required>
                            <small class="text-danger error-msg" id="err_ten"></small>
                        </div>

                        <!-- Khoa -->
                        <div class="col-md-6">
                            <label for="khoa_Insert" class="form-label fw-semibold">Khoa</label>
                            <select id="khoa_Insert" class="form-select" required>
                                <option selected disabled>-- Chọn khoa --</option>
                                @foreach (var hk in ViewBag.KhoaList)
                                {
                                    <option value="@hk.KhoaId">
                                        @hk.TenKhoa
                                    </option>
                                }
                            </select>
                            <small class="text-danger error-msg" id="err_khoa"></small>
                        </div>

                        <!-- Học kỳ -->
                        <div class="col-md-6">
                            <label for="hocKy_Insert" class="form-label fw-semibold">Học kỳ</label>
                            <select id="hocKy_Insert" class="form-select" required>
                                <option selected disabled>-- Chọn học kỳ --</option>

                                @foreach (var hk in ViewBag.HocKyList)
                                {
                                    <option value="@hk.HocKyId">
                                        @hk.Ten
                                    </option>
                                }
                            </select>
                            <small class="text-danger error-msg" id="err_hocKy"></small>
                        </div>

                        <!-- Link Phòng học online -->
                        <div class="col-md-6">
                            <label for="linkHocOnline_Insert" class="form-label fw-semibold">Link Google Meet (nếu có)</label>
                            <input type="text" id="linkHocOnline_Insert" class="form-control" placeholder="Nhập link google meet (nếu có)" required>
                            <small class="text-danger error-msg" id="err_link"></small>
                        </div>

                        <!-- Ảnh khóa học -->
                        <div class="col-md-6">
                            <label for="anhKhoaHoc_Insert" class="form-label fw-semibold">Hình ảnh khóa học</label>
                            <input type="file" id="anhKhoaHoc_Insert" class="form-control" accept="image/*">
                            <small class="text-danger error-msg" id="err_hocKy"></small>
                        </div>

                        <!-- Mật khẩu -->
                        <div class="col-md-6">
                            <label for="matKhau_Insert" class="form-label fw-semibold">Mật khẩu (nếu cần)</label>
                            <input type="password" id="matKhau_Insert" class="form-control" placeholder="Nhập mật khẩu (nếu có)">
                            <small class="text-danger error-msg" id="err_matKhau"></small>
                        </div>

                    </div>
                </form>
            </div>

            <!-- Footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal" onclick="resetForm_ThemKhoaHoc()">
                    <i class="bi bi-x-circle me-1"></i>Hủy
                </button>

                <button type="button" class="btn btn-primary text-light" onclick="themKhoaHoc()">
                    <i class="bi bi-save me-1"></i>Lưu khóa học
                </button>
            </div>

        </div>
    </div>
</div>


